### Maven ###
.mvn/timing.properties
buildNumber.properties
dependency-reduced-pom.xml
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Java ###
*.class
*.ctxt
*.log

### IntelliJ IDEA ###
.idea
*.iml
*.ipr
*.iws

### Eclipse ###
.autotools
.buildpath
.cache-main
.cproject
.externalToolBuilders/
.loadpath
.metadata
.recommenders
.scala_dependencies
.settings/
.target
.tern-project
.texlipse
.worksheet
*.bak
*.launch
*.pydevproject
*.swp
*.tmp
*~.nib
bin/
local.properties
tmp/

### NetBeans ###
/.nb-gradle/
/dist/
/nbdist/
/nbproject/private/
/nbbuild/
build/

### VS Code ###
.vscode/

### Git ###
# Created by git for backups.
# To disable backups in Git:
# $ git config --global mergetool.keepBackup false
*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*_BACKUP_*.txt
*.BASE.*
*_BASE_*.txt
*.LOCAL.*
*_LOCAL_*.txt
*.REMOTE.*
*_REMOTE_*.txt

### Package Files ###
*.ear
*.jar
*.nar
*.rar
*.tar.gz
*.war
*.zip

### Windows ###
$RECYCLE.BIN/
*.cab
*.lnk
*.msi
*.msix
*.msm
*.msp
*.stackdump
[Dd]esktop.ini
ehthumbs.db
ehthumbs_vista.db
Thumbs.db

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

### Some additional ignores ###
.#*
.DS_Store
.exercism
.gradle
.micronaut/
*~
*#
*.DS_Store
*.sublime-*
*.sw?
/scratch
bin
build
out/
target

### Do not ignore these files ###
!/.mvn/wrapper/maven-wrapper.jar
